<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
<div th:include="fragments/header :: header"></div>
<div class="container">
    <div class="panel-heading">
        <h4>Analog Inputs</h4>
    </div>
    <div class="table-responsive">
        <table class="table table-sm">
            <thead class="thead thead-inverse">
            <tr>
                <th>number</th>
                <th>address</th>
                <th>description</th>
                <th>symbol</th>
                <th>eng units</th>
            </tr>
            </thead>
            <tr th:each="ai : ${iotable.analogInputs}">
                <td th:text="${ai.number}"></td>
                <td th:text="${ai.address}"></td>
                <td th:text="${ai.description}"></td>
                <td th:text="${ai.symbol}"></td>
                <td th:text="${ai.engUnits}"></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>