<html xmlns:th="http://www.thymeleaf.org">
<body>

<a th:href="@{/aiTable}">AI</a>
<a th:href="@{/diTable}">DI</a>
<a th:href="@{/aoTable}">AO</a>
<a th:href="@{/doTable}">DO</a>

<table align="center">
    <tr>
        <th>number</th>
        <th>address</th>
        <th>description</th>
        <th>symbol</th>
    </tr>
    <tr th:each="di : ${iotable.digitalInputs}">
        <td th:text="${di.number}"></td>
        <td th:text="${di.address}"></td>
        <td th:text="${di.description}"></td>
        <td th:text="${di.symbol}"></td>
    </tr>
</table>

</body>
</html>