<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
<div th:include="fragments/header :: header"></div>
<div class="container" th:if="${duplicateAis.size() > 0}">
    <div class="panel-heading">
        <h4>Duplicate Analog Inputs</h4>
    </div>
    <div class="table-responsive">
        <table class="table table-sm">
            <thead class="thead thead-inverse">
            <tr>
                <th>number</th>
                <th>address</th>
                <th>description</th>
                <th>symbol</th>
                <th>eng units</th>
            </tr>
            </thead>
            <tr th:each="ai : ${duplicateAis}">
                <td th:text="${ai.number}"></td>
                <td th:text="${ai.address}"></td>
                <td th:text="${ai.description}"></td>
                <td th:text="${ai.symbol}"></td>
                <td th:text="${ai.engUnits}"></td>
            </tr>
        </table>
    </div>
</div>
<div class="container" th:if="${duplicateAos.size() > 0}">
    <div class="panel-heading">
        <h4>Duplicate Analog Outputs</h4>
    </div>
    <div class="table-responsive">
        <table class="table table-sm">
            <thead class="thead-inverse">
            <tr>
                <th>number</th>
                <th>address</th>
                <th>description</th>
                <th>symbol</th>
            </tr>
            </thead>
            <tr th:each="ao : ${duplicateAos}">
                <td th:text="${ao.number}"></td>
                <td th:text="${ao.address}"></td>
                <td th:text="${ao.description}"></td>
                <td th:text="${ao.symbol}"></td>
            </tr>
        </table>
    </div>
</div>
<div class="container" th:if="${duplicateDis.size() > 0}">
    <div class="panel-heading">
        <h4>Duplicate Discrete Inputs</h4>
    </div>
    <div class="table-responsive">
        <table class="table table-sm">
            <thead class="thead-inverse">
            <tr>
                <th>number</th>
                <th>address</th>
                <th>description</th>
                <th>symbol</th>
            </tr>
            </thead>
            <tr th:each="di : ${duplicateDis}">
                <td th:text="${di.number}"></td>
                <td th:text="${di.address}"></td>
                <td th:text="${di.description}"></td>
                <td th:text="${di.symbol}"></td>
            </tr>
        </table>
    </div>
</div>
<div class="container" th:if="${duplicateDos.size() > 0}">
    <div class="panel-heading">
        <h4>Duplicate Discrete Outputs</h4>
    </div>
    <div class="table-responsive">
        <table class="table table-sm">
            <thead class="thead-inverse">
            <tr>
                <th>number</th>
                <th>address</th>
                <th>description</th>
                <th>symbol</th>
            </tr>
            </thead>
            <tr th:each="do : ${duplicateDos}">
                <td th:text="${do.number}"></td>
                <td th:text="${do.address}"></td>
                <td th:text="${do.description}"></td>
                <td th:text="${do.symbol}"></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>